form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20%;
    align-self: center;
    margin-top: 1rem;
    height: 10rem;

    
}
input{

}
label{
    font-family: ;
}

