.name{
    font-weight: 700;
    width: 20%;
    display: flex;
}
li{
    display: flex;
    padding: 0 0.5rem;
    width: 100%;
    justify-content: space-between;
    list-style:none ;
    height: 2rem;
    align-items: center;
    border: 2px solid rgb(255, 246, 246);
    border-radius: 1rem;
}

.spanCircle{
    background-color: brown;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    
}

.description{
    font-weight: 400;
}