.Filter{
    display: flex;
    height: 5rem;
    align-items: center;
    align-self: center;
    width: 40%  ;
    justify-content: space-evenly;
}

.Filter select{
    height: 2rem;
}

.Filter h3{
    font-size: 1.5rem;
    margin: 0;
}